<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.boardaround">

    <application
        android:label="BoardAround"
        android:icon="@mipmap/ic_launcher">

        <activity android:name="com.example.boardaround.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.boardaround.HomepageActivity"
            android:exported="true" />

        <activity android:name="com.example.boardaround.RegisterActivity"
            android:exported="true" />

    </application>

</manifest>
